---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Mirwais Farahi
  </div>
  <div class="inline opacity-75">
    Built as a data science profile website with Astro and TailwindCSS.
  </div>
</footer>
